body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #86BFF3;
    padding: 10px 40px;
}

.header-left a {
    font-size: 25px;
    color: #2e2d40;
    font-weight: bold;
    text-decoration: none;
}

.header-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-right li {
    margin-left: 0px;
}

.header-right a {
    font-size: 25px;
    text-decoration: none;
    color: #2e2d40;
    font-weight: bold;
}

.hover-text {
    color: #2e2d40; /* Original text color */
    transition: color 0.3s ease; /* Smooth transition */
}

.hover-text:hover {
    color: #51a7f5; /* Darker color on hover */
}

.nav-button {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background-color: #86BFF3;
    color: #2e2d40;
    border: none;
    border-radius: 8px;
    padding: 30px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #51a7f5;
}

/* update log styles */

.container {
    text-align: center;
    padding: 20px;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubble {
    background-color: #86BFF3;
    color: #2e2d40;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    width: 80%;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bubble h2 {
    margin: 0;
}

.bubble ul {
    list-style-type: circle;
    padding: 0;
}

/* end update log styles */

main {
    text-align: center;
    margin-top: 50px;
    color: #2e2d40;
}

h1 {
    color: #2e2d40;
    font-size: 36px;
}
