body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #86BFF3;
    padding: 10px 40px;
}

.header-left {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.header-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-right li {
    margin-left: 20px;
}

.header-right a {
    font-size: 25px;
    text-decoration: none;
    color: #FF0000;
    font-weight: bold;
}

main {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: darkblue;
    font-size: 36px;
}
