body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #86BFF3;
    padding: 10px 40px;
}

.header-left a {
    font-size: 25px;
    color: #2e2d40;
    font-weight: bold;
    text-decoration: none;
}

.header-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-right li {
    margin-left: 0px;
}

.header-right a {
    font-size: 25px;
    text-decoration: none;
    color: #2e2d40;
    font-weight: bold;
}

.hover-text {
    color: #3498db; /* Original text color */
    transition: color 0.3s ease; /* Smooth transition */
}

.hover-text:hover {
    color: #2980b9; /* Darker color on hover */
}

.nav-button {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background-color: #86BFF3;
    color: #2e2d40;
    border: none;
    border-radius: 8px;
    padding: 8px 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #51a7f5;
}

main {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: darkblue;
    font-size: 36px;
}
